{% if topic.web_url %}
  <a href="{{ topic.web_url }}" class="github-component position-relative hover-grow no-underline d-flex flex-column flex-justify-center text-center rounded-1 bg-black p-3">
    {% if topic.image_url %}
      <img src="{{ topic.image_url }}" width="50" height="50" class="mx-auto rounded-1 mb-3" alt="{{ topic.name }}">
    {% else %}
      <div
        class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3"
        style="width:64px; height:64px; line-height:64px;"
      >
        #
      </div>
    {% endif %}
    <p class="f4 lh-condensed text-center  mb-0 mt-1">{{ topic.name }}</p>
    {% if topic.description %}
      <p class="f5 text-gray text-center mb-0 mt-1">{{ topic.description }}</p>
    {% endif %}
  </a>
{% else %}
<a onclick="hideVideos()" class="github-component position-relative hover-grow no-underline d-flex flex-column flex-justify-center text-center rounded-1 bg-black p-3">
  {% if topic.image_url %}
    <img src="{{ topic.image_url }}" width="50" height="50" class="mx-auto rounded-1 mb-3" alt="{{ topic.name }}">
  {% else %}
    <div
      class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3"
      style="width:64px; height:64px; line-height:64px;"
    >
      #
    </div>
  {% endif %}
  <p class="f4 lh-condensed text-center  mb-0 mt-1">{{ topic.name }}</p>
  {% if topic.description %}
    <p class="f5 text-gray text-center mb-0 mt-1">{{ topic.description }}</p>
  {% endif %}
</a>
{% else %}

{% endif %}
<script type="text/javascript">
  function hideVideos() {
    var x = document.getElementById("videos");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
